.dff-uploader {
  .dff-files {
    display: flex;
    flex-direction: column;
    margin: 16px 0 16px 0;
    outline: solid 1px #ddd;
    max-width: 40em;
    padding: 16px;

    &:empty {
      margin: 0;
      outline: none;
    }

    &.dff-dropping {
      outline: dashed 2px #ddd;
    }

    .dff-file {
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .dff-delete {
      margin-left: 8px;
    }

    span {
      margin-left: 8px;
    }
  }

  .dff-progress {
    background-color: #ccc;
    width: 10em;
    height: 4px;
    display: inline-block;
    margin-left: 8px;
    vertical-align: middle;
    position: relative;

    .dff-progress-inner {
      height: 100%;
      display: inline-block;
      background-color: green;
      position: absolute;
    }
  }

  .dff-error {
    margin-left: 8px;
    color: red;
  }

  .dff-cancel {
    margin-left: 8px;
  }
}
