.dff-uploader {
  .dff-files {
    display: flex;
    flex-direction: column;
    margin: 8px 0 8px 0;
    padding: 8px 5px 8px 0;

    min-height: 2.5em;
    width: 100%;
    border-style: solid;
    border-color: rgb(209, 213, 218);
    background-color: #fafbfc;
  }

  .dff-files {
    &:empty {

    }

    > div {
      margin-bottom: 8px;
    }

    > div:last-child {
      margin-bottom: 0;
    }

    .dff-delete {
      margin-left: 8px;
    }

    span {
      margin-left: 8px;
    }


    &.entered {
      border-color: purple;
    }

    &:empty::before  {
      content: 'Drop your files here';
      color: gray;
      padding: 10px;
    }
  }

  .dff-progress {
    background-color: #ccc;
    width: 10em;
    height: 4px;
    display: inline-block;
    margin-left: 8px;
    vertical-align: middle;
    position: relative;

    .dff-progress-inner {
      height: 100%;
      display: inline-block;
      background-color: green;
      position: absolute;
    }
  }

  .dff-error {
    margin-left: 8px;
    color: red;
  }

  .dff-cancel {
    margin-left: 8px;
  }
}

