*.pyc
*.egg-info
testproject/*.db
testproject/*.log
testproject/media
testproject/t
Pipfile
Pipfile.lock
frontend/node_modules/
build/
dist/
frontend/package-lock.json
testproject/example
.DS_Store
django_file_form/.DS_Store
