.npmrc
.python-version
.vscode/
*.egg-info
*.pyc
build/
dist/
django_file_form/static/file_form/file_form.coverage.js
django_file_form/static/file_form/file_form.coverage.js.map
frontend/coverage/
frontend/mise.toml
node_modules/
Pipfile
Pipfile.lock
site/
testproject/*.db
testproject/*.log
testproject/media
testproject/screenshots/
testproject/static/
testproject/t