.dff-uploader .dff-files {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
  outline: solid 1px #ddd;
  max-width: 40em;
  padding: 16px;
}
.dff-uploader .dff-files:empty {
  margin: 0;
  outline: none;
}
.dff-uploader .dff-files.dff-dropping {
  outline: dashed 2px #ddd;
}
.dff-uploader .dff-files .dff-file {
  margin-bottom: 8px;
}
.dff-uploader .dff-files .dff-file:last-child {
  margin-bottom: 0;
}
.dff-uploader .dff-files .dff-cancel,
.dff-uploader .dff-files .dff-delete,
.dff-uploader .dff-files button.dff-filename {
  margin-left: 8px;
  padding: 0;
  border: none;
  background: none;
  color: LinkText;
  font: inherit;
  text-decoration: underline;
  cursor: pointer;
}
.dff-uploader .dff-files .dff-cancel:disabled,
.dff-uploader .dff-files .dff-delete:disabled,
.dff-uploader .dff-files button.dff-filename:disabled {
  color: #aaa;
  cursor: default;
}
.dff-uploader .dff-files span {
  margin-left: 8px;
}
.dff-uploader .dff-progress {
  background-color: #ccc;
  width: 10em;
  height: 4px;
  display: inline-block;
  margin-left: 8px;
  vertical-align: middle;
  position: relative;
}
.dff-uploader .dff-progress .dff-progress-inner {
  height: 100%;
  display: inline-block;
  background-color: green;
  position: absolute;
  margin: 0;
}
.dff-uploader .dff-status {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}
.dff-uploader .dff-error {
  margin-left: 8px;
  color: red;
}
