{% extends 'base.html' %}
{% load static %}

{% block title %}Form example{% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "file_form/file_form.css" %}">
    <link rel="stylesheet" href="{% static "example.css" %}">
{% endblock %}

{% block body %}
    <form
        method="POST"
        enctype="multipart/form-data"
        id="example-form"
    >
        {% csrf_token %}
        {{ form }}
        <input class="btn btn-primary" type="submit" value="Save" />
    </form>

    {% if use_ajax %}
        <script src="{% static "file_form/file_form.js" %}"></script>
        <script>
            initUploadFields(
                document.getElementById("example-form"),
                { prefix: "example", skipRequired: true }
            );
        </script>
    {% endif %}
{% endblock %}
