{% extends 'base.html' %}
{% load static %}

{% block title %}Form example{% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "file_form/file_form.css" %}">
    <link rel="stylesheet" href="{% static "example.css" %}">
{% endblock %}

{% block body %}
    <form
        method="POST"
        enctype="multipart/form-data"
        id="example-form"
    >
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {{ form.non_field_errors }}
        <div id="row-example-input_title">
            {{ form.title.errors }}
            <label for="{{ form.title.id_for_label }}">Title</label>
            {{ form.title }}
        </div>

        <div id="row-example-input_file" {% if form.input_file.errors %} class="has-error" {% endif %}>
            {{ form.input_file.errors }}
            {{ form.input_file }}
        </div>
        {% block extra_fields %}
        {% endblock %}
        <input type="submit" value="Save" />
    </form>

    <div id="messages"></div>

    {% if use_ajax %}
        <script src="{% static file_form_js|safe %}"></script>
        {% for js_file in custom_js_files %}
            <script src="{% static js_file %}"></script>
        {% endfor %}
    {% endif %}
{% endblock %}
