{% extends 'base.html' %}

{% block title %}Form example{% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}ajaxuploader/css/fileuploader.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}example.css">
{% endblock %}

{% block body %}
    <form
        method="POST"
        enctype="multipart/form-data"
        id="example-form"
        class="form-horizontal"
    >
        {% csrf_token %}
        {{ form }}
        <div class="form-actions">
            <input class="btn btn-primary" type="submit" value="Save" />
        </div>
    </form>

    <script src="{{ STATIC_URL }}jquery-1.9.1.js"></script>
    <script src="{{ STATIC_URL }}ajaxuploader/js/fileuploader.js"></script>
    <script src="{{ STATIC_URL }}file_form/file_form.js"></script>
    <script>
        $(function() {
            initUploadFields($('#example-form'));
        });
    </script>
{% endblock %}