{% extends 'example_form.html' %}
{% load static %}

{% block title %}Wizard example{% endblock %}

{% block body %}
    <div>
        Page {{ wizard.steps.step1 }}
    </div>
    <form
        method="POST"
        enctype="multipart/form-data"
        id="wizard-form"
    >
        {% csrf_token %}
        {{ wizard.management_form }}
        {{ wizard.form.as_p }}
        {% if wizard.steps.prev %}
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Previous</button>
        {% endif %}
        <input type="submit" value="Submit" />
    </form>

    <script src="{% static file_form_js|safe %}"></script>
    <script src="{% static "wizard_form.js" %}"></script>
{% endblock %}
