{% load i18n %}
<div class="dff-uploader">
    <div
        class="dff-container"
        {% if uploaded_files %}
            data-files='{{ uploaded_files }}'
        {% endif %}
        data-translations="{{ translations }}"
    >
        {{ input }}
    </div>
    {% if existing_files %}
        <ul class="dff-existing-files">
            {% for f in existing_files %}
                <li>
                    <span>{{ f.name }}</span>
                    {% if f.view_url %}
                        <a href="{{ f.view_url }}">{% trans 'View' %}</a>
                    {% endif %}
                    {% if f.delete_url %}
                        <a class="delete" href="{{ f.delete_url }}">{% trans 'Delete' %}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
